$main-color: #67fd50;
$font-color: rgb(62, 178, 16);
$second-color: #f6eaea;
$black-color: rgb(70, 70, 70);
$btn-color: rgb(112, 255, 126);
$back-color: rgb(217, 255, 217);
$red-color: rgb(247, 78, 78);