@use './colors';

@media (min-width: 992px) {
	header {
		h1 {
			font-size: 4.8rem;
		}

		h2 {
			font-size: 4.8rem;
		}

		p {
			font-size: 2.4rem;
		}

		.hero-image {
			position: relative;
			&__text {
				align-items: start;
				padding: 20px;
				padding-left: 10em;
			}

			.hero-icon {
				bottom: 50%;
				left: 900px;
				transform: none;
				transition: transform 0.2s;
			}
			.hero-icon:hover {
				transform: scale(1.2);
			}
		}
	}

	.calculate {
		.first-text {
			padding-top: 3em;
			font-size: 2.4rem;
		} 
		.d1 {
			left: 10%;
		}
		.d2 {
			left: 40%;
		}
		.d3 {
			left: 80%;
		}
		.boxes_calc {
			.box_calc {
				.text-box {
					font-size: 2rem;
				}
			}
		}
	}

	.mainService {
		position: relative;
		background-color: colors.$second-color;
		overflow: hidden;
		 
	
		.d1 {
			left: 10%;
		}
		.d2 {
			left: 40%;
		}
		.d3 {
			left: 80%;
		}

		.service {
			&__text {

				
	
				h2 {
					font-size: 3.8rem;
				}

				span {
					font-size: 2.4rem;
				}
				
		}
			&__choose {
				
	
				&-form {
				
	
					.button-form {
						font-size: 1.2em;
					}
					
					&:hover:before {
						left: 220px;
					}
					
				}
				
			}
			.start-renovation {
				&__text {
					.description {
						padding: 0.3em;
					}
					.btn-description {
						padding: 0.3em;
				
					}
					label {
						
						font-size: 2.6rem;
					}
				}
			}
	}

	.open-calc {
		&__box {
               
			h3 {
				font-size: 3.6rem;
			}
			.form_calc {
				
				
             .label-calc {
				color: colors.$font-color;
				font-size: 2.4rem;
			 }

				.submit-calc {
					font-size: 1.8rem;
					
				}
			}
		}

		.default-calculate {
			&__text {
				
				font-size: 3.6rem;
			}
		}
	}
}
}


@media (min-width: 1400px) {
	.mainService {
    
    
        .service {

            &__choose {
				margin-left: -150px;
              
			}
        }
    }
}