@use './colors';
@use './components' as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 76px;
}

body {
	background-color: grey;
	color: #ffffff;
	font-size: 20px;
}

// NAV

.navbar {
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
	img {
		width: 150px;
		height: 60px;
	}

	.navbar-brand {
		text-transform: uppercase;
		font-weight: bold;
		color: #fff;
		font-size: 2.4rem;
		padding: 1rem;
		transition: color 0.3s;

		&:hover {
			color: colors.$main-color;
		}
	}

	.navbar-nav {
		.nav-link {
			text-transform: uppercase;
			font-weight: bold;
			color: #fff;
			font-size: 1.6rem;
			padding: 1em;
		}

		.nav-link:hover {
			color: colors.$main-color;
		}
	}

	button {
		color: #fff;
		padding: 1.4em;
		margin: 0 1em;
		font-size: 1.8rem;

		background-image: url('/img/menu.svg');
		background-position: center;
		background-size: cover;
	}
}
// HEADER

header {
	h1 {
		font-size: 2.4rem;
	}

	h2 {
		font-size: 2.4rem;
	}

	p {
		font-size: 1.4rem;
	}

	.hero-image {
		position: relative;
		height: 100vh;
		top: 0;
		background-image: url('../img/header-small.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;

		.hero-icon {
			width: 50px;
			height: 50px;
			background-image: url('../img/arrow-down\(1\).svg');
			background-position: center;
			background-size: cover;
			position: absolute;
			bottom: 5%;
			left: 50%;
			transform: translateX(-50%);
			border: 1px solid colors.$main-color;
			border-radius: 100%;
		}
		&__text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			color: colors.$main-color;
			z-index: 5;
			padding: 10px;
			text-align: center;

			h1 {
				text-transform: uppercase;
				font-weight: bold;
			}
		}

		&__login {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			color: colors.$main-color;
			font-weight: bold;
			z-index: 5;
			padding: 10px;
			text-align: center;

			.form {
				.error {
					p {
						color: #ff5755;
						font-size: 0.8em;
						font-weight: normal;
					}
				}
				.success {
					color: #00fc04;
					margin-bottom: 20px;
				}

				.login-input {
					display: block;
					padding: 0.4em;
					border-radius: 0.5em;
					border: none;
					margin: 1em;
				}
				.login-btn {
					padding: 0.4em;
					border-radius: 0.5em;
					border: none;
					background-color: white;
					transition: background-color 0.3s;
					margin-top: 1em;
				}

				.login-btn:hover {
					background-color: #cacaca;
				}
			}
		}

		&__bg {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(71, 71, 71, 0.8);
			z-index: -10;
		}
	}
}

// KALKULATOR //

.calculate {
	position: relative;
	width: 100vw;
	padding-bottom: 1em;
	background-color: colors.$second-color;
	overflow: hidden;
	.decoration {
		height: 100%;
	}
	.d1 {
		left: -50%;
	}
	.d2 {
		left: 50%;
	}
	.d3 {
		left: 150%;
	}
	.first-text {
		position: relative;
		color: colors.$font-color;
		text-align: center;
		padding: 2em;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2.4rem;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			bottom: 30px;
			transform: translateX(-50%);
			height: 3px;
			width: 180px;
			background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
		}
	}
	.boxes_calc {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.box_calc {
			position: relative;
			width: 70%;
			height: 120px;
			transition: transform 1s;
			background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
			border-radius: 10px;
			margin: 1em;
			padding: 1em;
			box-shadow: 3px 3px 6px rgb(72, 72, 72);

			.text-box {
				position: absolute;
				width: 100%;
				height: 100%;
				bottom: 0;
				left: 0;
				top: 0;
				transform: translateY(30%);
				color: colors.$black-color;
				text-align: center;
				font-size: 1.4rem;
			}
		}
		.box_calc:hover {
			transform: scale(1.1);
		}
	}

	.calculate-link {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		margin-top: 3em;

		.calculate-btn {
			position: relative;
			background-color: colors.$btn-color;
			padding: 0.5em;
			border-radius: 10px;
			color: colors.$black-color;
			box-shadow: 3px 3px 6px rgb(72, 72, 72);
			overflow: hidden;
			transition: transform 0.2s;
			&::before {
				content: '';
				background-color: rgba(64, 128, 53, 0.1);
				height: 100%;
				width: 40px;
				position: absolute;
				bottom: -1px;
				left: -65px;
				transform: skew(45deg);
				transition: left 0.3s;
			}

			&:hover::before {
				left: 155px;
			}
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

// WYBÓR USŁUGI //
.mainService {
	position: relative;
	background-color: colors.$second-color;
	height: 100vh;
	overflow: hidden;
	

	.d1 {
		left: -40%;
	}
	.d2 {
		left: 50%;
	}
	.d3 {
		left: 140%;
	}
	.service {
		position: relative;
		margin-top: 7em;
		z-index: 0;

		&__text {
			margin-bottom: 0.5em;
		h2 {
			font-size: 1.2em;
			color: colors.$font-color;
			text-transform: uppercase;
			text-align: center;
		}
		span {
			font-size: 1.2em;
			margin-left: 1em;
			padding: 0.2em;
			background-color: colors.$btn-color;
			border-radius: 10px;
			color: colors.$black-color;
			box-shadow: 3px 3px 6px rgb(72, 72, 72);
			
		}
	}
		.underline {
			position: absolute;
			bottom: 0;
			width: 100vw;
			height: 20px;
			background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
			z-index: -1;
		}

		&__choose {
			display: flex;

			&-form {
				position: relative;
				margin: 0.5em;
				transition: transform 0.2s;
				box-shadow: 3px 3px 6px rgb(72, 72, 72);
				border-radius: 10px;
				overflow: hidden;

				.button-form {
					padding: 0.4em;
					background-color: colors.$btn-color;
					border: none;
					font-size: 0.8em;
				}
				&::before {
					content: '';
					background-color: rgba(64, 128, 53, 0.1);
					height: 100%;
					width: 40px;
					position: absolute;
					bottom: 0;
					left: -65px;
					transform: skew(45deg);
					transition: left 0.3s;
				}
				&:hover::before {
					left: 170px;
				}
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		.start-renovation {
			display: flex;
			justify-content: center;
			align-items: center;
		    margin-bottom: 2em;
			margin-top: 2em;
			
			&__text {
	
				margin: 2em;
				text-align: center;
			.description {
				display: flex;
				
				border-radius: 10px;
				border: none;
				padding: 0.3em;
				margin: 1em;
			}
			.btn-description {
			  padding: 0.3em;
			  background-color: #fff;
			  border-radius: 10px;
				border: none;
				
                transition: background 0.3s;
				&:hover {
					background-color: colors.$btn-color;
				}
			}
	
			label {
				color: colors.$font-color;
				font-size: 1.4em;
			}
		}
		}
	}


}
// FOOTER //

.footer {
	margin: 0;
	.footer-text {
		padding: 0.2em;
		margin: 0;
		text-align: center;
		background-color: colors.$black-color;
		font-size: 1.8rem;
	}
}

// MEDIA //
@import './mediaSmall';
@import "./mediaLarge";