.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.decoration {
  top: -1px;
  position: absolute;
  height: 100vh;
  width: 50px;
  background-color: rgb(70, 70, 70);
  transform: skew(45deg);
  opacity: 20%;
  z-index: -1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 76px;
}

body {
  background-color: grey;
  color: #ffffff;
  font-size: 20px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.navbar img {
  width: 150px;
  height: 60px;
}
.navbar .navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 2.4rem;
  padding: 1rem;
  transition: color 0.3s;
}
.navbar .navbar-brand:hover {
  color: #67fd50;
}
.navbar .navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 1.6rem;
  padding: 1em;
}
.navbar .navbar-nav .nav-link:hover {
  color: #67fd50;
}
.navbar button {
  color: #fff;
  padding: 1.4em;
  margin: 0 1em;
  font-size: 1.8rem;
  background-image: url("/img/menu.svg");
  background-position: center;
  background-size: cover;
}

header h1 {
  font-size: 2.4rem;
}
header h2 {
  font-size: 2.4rem;
}
header p {
  font-size: 1.4rem;
}
header .hero-image {
  position: relative;
  height: 100vh;
  top: 0;
  background-image: url("../img/header-small.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-image .hero-icon {
  width: 50px;
  height: 50px;
  background-image: url("../img/arrow-down(1).svg");
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #67fd50;
  border-radius: 100%;
}
header .hero-image__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #67fd50;
  z-index: 5;
  padding: 10px;
  text-align: center;
}
header .hero-image__text h1 {
  text-transform: uppercase;
  font-weight: bold;
}
header .hero-image__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #67fd50;
  font-weight: bold;
  z-index: 5;
  padding: 10px;
  text-align: center;
}
header .hero-image__login .form .error p {
  color: #ff5755;
  font-size: 0.8em;
  font-weight: normal;
}
header .hero-image__login .form .success {
  color: #00fc04;
  margin-bottom: 20px;
}
header .hero-image__login .form .login-input {
  display: block;
  padding: 0.4em;
  border-radius: 0.5em;
  border: none;
  margin: 1em;
}
header .hero-image__login .form .login-btn {
  padding: 0.4em;
  border-radius: 0.5em;
  border: none;
  background-color: white;
  transition: background-color 0.3s;
  margin-top: 1em;
}
header .hero-image__login .form .login-btn:hover {
  background-color: #cacaca;
}
header .hero-image__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 71, 71, 0.8);
  z-index: -10;
}

.calculate {
  position: relative;
  width: 100vw;
  padding-bottom: 1em;
  background-color: #e6dbdb;
  overflow: hidden;
  z-index: 0;
}
.calculate .decoration {
  height: 100%;
}
.calculate .d1 {
  left: -50%;
}
.calculate .d2 {
  left: 50%;
}
.calculate .d3 {
  left: 150%;
}
.calculate .first-text {
  position: relative;
  color: rgb(62, 178, 16);
  text-align: center;
  padding: 2em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.4rem;
}
.calculate .first-text::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  height: 3px;
  width: 180px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.calculate .boxes_calc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.calculate .boxes_calc .box_calc {
  position: relative;
  width: 70%;
  height: 120px;
  transition: transform 1s;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  box-shadow: 3px 3px 6px rgb(72, 72, 72);
}
.calculate .boxes_calc .box_calc .text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  transform: translateY(30%);
  color: rgb(70, 70, 70);
  text-align: center;
  font-size: 1.4rem;
}
.calculate .boxes_calc .box_calc:hover {
  transform: scale(1.1);
}
.calculate .calculate-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 3em;
}
.calculate .calculate-link .calculate-btn {
  position: relative;
  background-color: rgb(112, 255, 126);
  padding: 0.5em;
  border-radius: 10px;
  color: rgb(70, 70, 70);
  box-shadow: 3px 3px 6px rgb(72, 72, 72);
  overflow: hidden;
  transition: transform 0.2s;
}
.calculate .calculate-link .calculate-btn::before {
  content: "";
  background-color: rgba(64, 128, 53, 0.1);
  height: 100%;
  width: 40px;
  position: absolute;
  bottom: -1px;
  left: -65px;
  transform: skew(45deg);
  transition: left 0.3s;
}
.calculate .calculate-link .calculate-btn:hover::before {
  left: 155px;
}
.calculate .calculate-link .calculate-btn:hover {
  transform: scale(1.1);
}

.mainService {
  position: relative;
  background-color: #e6dbdb;
  height: 100vh;
  z-index: 0;
}
.mainService .d1 {
  left: -40%;
}
.mainService .d2 {
  left: 50%;
}
.mainService .d3 {
  left: 140%;
}
.mainService .service {
  position: relative;
  margin-top: 7em;
  z-index: 0;
}
.mainService .service__text {
  margin-bottom: 0.5em;
}
.mainService .service__text h2 {
  font-size: 1.2em;
  color: rgb(62, 178, 16);
  text-transform: uppercase;
  text-align: center;
}
.mainService .service__text span {
  font-size: 1.2em;
  margin-left: 1em;
  padding: 0.2em;
  background-color: rgb(112, 255, 126);
  border-radius: 10px;
  color: rgb(70, 70, 70);
  box-shadow: 3px 3px 6px rgb(72, 72, 72);
}
.mainService .service .underline {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 20px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  z-index: -1;
}
.mainService .service__choose {
  display: flex;
}
.mainService .service__choose-form {
  position: relative;
  margin: 0.5em;
  transition: transform 0.2s;
  box-shadow: 3px 3px 6px rgb(72, 72, 72);
  border-radius: 10px;
  overflow: hidden;
}
.mainService .service__choose-form .button-form {
  padding: 1em;
  padding-bottom: 1em;
  background-color: rgb(112, 255, 126);
  color: rgb(70, 70, 70);
  border: none;
  font-size: 0.8em;
  text-decoration: none;
}
.mainService .service__choose-form::before {
  content: "";
  background-color: rgba(64, 128, 53, 0.1);
  height: 100%;
  width: 40px;
  position: absolute;
  bottom: 0;
  left: -65px;
  transform: skew(45deg);
  transition: left 0.3s;
}
.mainService .service__choose-form:hover::before {
  left: 170px;
}
.mainService .service__choose-form:hover {
  transform: scale(1.1);
}
.mainService .service .start-renovation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em;
}
.mainService .service .start-renovation__text {
  margin: 2em;
  text-align: center;
}
.mainService .service .start-renovation__text .description {
  display: flex;
  border-radius: 10px;
  border: none;
  padding: 0.3em;
  margin: 1em;
}
.mainService .service .start-renovation__text .btn-description {
  padding: 0.3em;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  transition: background 0.3s;
}
.mainService .service .start-renovation__text .btn-description:hover {
  background-color: rgb(112, 255, 126);
}
.mainService .service .start-renovation__text label {
  color: rgb(62, 178, 16);
  font-size: 1.4em;
}
.mainService .open-calc {
  margin-left: 2em;
}
.mainService .open-calc .content {
  z-index: 3;
}

.footer {
  margin: 0;
}
.footer .footer-text {
  padding: 0.2em;
  margin: 0;
  text-align: center;
  background-color: rgb(70, 70, 70);
  font-size: 1.8rem;
}

@media (min-width: 662px) {
  header h1 {
    font-size: 3.6rem;
  }
  header h2 {
    font-size: 3.6rem;
  }
  header p {
    font-size: 1.8rem;
  }
  header .hero-image {
    background-image: url("../img/header-big.jpg");
  }
  .calculate .first-text {
    padding-top: 3em;
    font-size: 2.4rem;
  }
  .calculate .d1 {
    left: -10%;
  }
  .calculate .d2 {
    left: 50%;
  }
  .calculate .d3 {
    left: 110%;
  }
  .calculate .boxes_calc {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 50px;
  }
  .calculate .boxes_calc .box_calc .text-box {
    font-size: 1.8rem;
  }
  .calculate .boxes_calc .box_calc:nth-child(even) {
    grid-column: 1/6;
  }
  .calculate .boxes_calc .box_calc:nth-child(odd) {
    grid-column: 3/8;
  }
  .mainService .d1 {
    left: -10%;
  }
  .mainService .d2 {
    left: 40%;
  }
  .mainService .d3 {
    left: 100%;
  }
  .mainService .service__text h2 {
    font-size: 1.8em;
  }
  .mainService .service__choose-form .button-form {
    font-size: 1em;
  }
  .mainService .service__choose-form:hover:before {
    left: 200px;
  }
}
@media (min-width: 992px) {
  header h1 {
    font-size: 4.8rem;
  }
  header h2 {
    font-size: 4.8rem;
  }
  header p {
    font-size: 2.4rem;
  }
  header .hero-image {
    position: relative;
  }
  header .hero-image__text {
    align-items: start;
    padding: 20px;
    padding-left: 10em;
  }
  header .hero-image .hero-icon {
    bottom: 50%;
    left: 900px;
    transform: none;
    transition: transform 0.2s;
  }
  header .hero-image .hero-icon:hover {
    transform: scale(1.2);
  }
  .calculate .first-text {
    padding-top: 3em;
    font-size: 2.4rem;
  }
  .calculate .d1 {
    left: 10%;
  }
  .calculate .d2 {
    left: 40%;
  }
  .calculate .d3 {
    left: 80%;
  }
  .calculate .boxes_calc .box_calc .text-box {
    font-size: 2rem;
  }
  .mainService {
    position: relative;
    background-color: #e6dbdb;
    height: 100vh;
    overflow: hidden;
  }
  .mainService .d1 {
    left: 10%;
  }
  .mainService .d2 {
    left: 40%;
  }
  .mainService .d3 {
    left: 80%;
  }
  .mainService .service__text h2 {
    font-size: 2em;
  }
  .mainService .service__choose-form .button-form {
    font-size: 1.2em;
  }
  .mainService .service__choose-form:hover:before {
    left: 220px;
  }
}/*# sourceMappingURL=style.css.map */